<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='//fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar'%>
    <%= render 'partials/bio' %>
    <%= yield %>

    <div class="background" >
      <div class="sectionHeading">
        <h1>- My Background -</h1>
      </div>
      <%= render 'partials/maxPlanck' %>
    </div>

  </body>
</html>
